mixin realty()
    +b.realty
        .container
            +e.inner
                +e.title НЕдвижимость
                +e.list
                    +e.item
                        +e.speaker
                            +e.image(src=require("./../images/realty.svg"), alt="realty")
                        +e.content
                            +e.shell
                                +e.envelope
                                    +e.name Игорь Манн
                                    +e.description как улучшить маркетинг в компании за 3 рабочих недели
                                +e.wrapper
                                    +e.date 15 марта 2019, 16:00
                                    +e.address Минск, Рокоссовского, 158, гостиница "Салют"
                                +e.plus(src=require("./../images/PlusIcon.svg"), alt="plus")
                            +e.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    +e.item
                        +e.speaker
                            +e.image(src=require("./../images/realty.svg"), alt="realty")
                        +e.content
                            +e.shell
                                +e.envelope
                                    +e.name Игорь Манн
                                    +e.description как улучшить маркетинг в компании за 3 рабочих недели
                                +e.wrapper
                                    +e.date 15 марта 2019, 16:00
                                    +e.address Минск, Рокоссовского, 158, гостиница "Салют"
                                +e.plus(src=require("./../images/PlusIcon.svg"), alt="plus")
                            +e.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    +e.item
                        +e.speaker
                            +e.image(src=require("./../images/realty.svg"), alt="realty")
                        +e.content
                            +e.shell
                                +e.envelope
                                    +e.name Игорь Манн
                                    +e.description как улучшить маркетинг в компании за 3 рабочих недели
                                +e.wrapper
                                    +e.date 15 марта 2019, 16:00
                                    +e.address Минск, Рокоссовского, 158, гостиница "Салют"
                                +e.plus(src=require("./../images/PlusIcon.svg"), alt="plus")
                            +e.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    +e.item
                        +e.speaker
                            +e.image(src=require("./../images/realty.svg"), alt="realty")
                        +e.content
                            +e.shell
                                +e.envelope
                                    +e.name Игорь Манн
                                    +e.description как улучшить маркетинг в компании за 3 рабочих недели
                                +e.wrapper
                                    +e.date 15 марта 2019, 16:00
                                    +e.address Минск, Рокоссовского, 158, гостиница "Салют"
                                +e.plus(src=require("./../images/PlusIcon.svg"), alt="plus")
                            +e.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                    +e.item
                        +e.speaker
                            +e.image(src=require("./../images/realty.svg"), alt="realty")
                        +e.content
                            +e.shell
                                +e.envelope
                                    +e.name Игорь Манн
                                    +e.description как улучшить маркетинг в компании за 3 рабочих недели
                                +e.wrapper
                                    +e.date 15 марта 2019, 16:00
                                    +e.address Минск, Рокоссовского, 158, гостиница "Салют"
                                +e.plus(src=require("./../images/PlusIcon.svg"), alt="plus")
                            +e.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
