mixin news-all()
    +b.news-all
        +e.inner.container
            +title('Новости','title_grey title_default mt-20 mt-sm-40', 'h1')
            +e.content.row
                    +e.container
                        .row
                            +e.slide.col-12.col-sm-6.col-lg-4
                                +e.image(src=require("./../images/preloader.jpg"), alt="people")
                                +e.envelope.pt-20
                                    +e.title Lorem ipsum dolor si LOREM
                                    +e.description.pt-05.pb-10 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur distinctio dolore ea incidunt inventore quam, quidem voluptas. Aut dignissimos dolores facilis nihil nobis nostrum numquam optio saepe veritatis voluptatem.
                                    +button-with-balls('подробнее',null,'button-with-balls__ball_red','button-with-balls__ball_grey','button-with-balls__ball_orange')
                            +e.slide.col-12.col-sm-6.col-lg-4
                                +e.image(src=require("./../images/preloader.jpg"), alt="people")
                                +e.envelope.pt-20
                                    +e.title Lorem ipsum dolor si LOREM
                                    +e.description.pt-05.pb-10 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur distinctio dolore ea incidunt inventore quam, quidem voluptas. Aut dignissimos dolores facilis nihil nobis nostrum numquam optio saepe veritatis voluptatem.
                                    +button-with-balls('подробнее',null,'button-with-balls__ball_red','button-with-balls__ball_grey','button-with-balls__ball_orange')
                            +e.slide.col-12.col-sm-6.col-lg-4
                                +e.image(src=require("./../images/preloader.jpg"), alt="people")
                                +e.envelope.pt-20
                                    +e.title Lorem ipsum dolor si LOREM
                                    +e.description.pt-05.pb-10 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur distinctio dolore ea incidunt inventore quam, quidem voluptas. Aut dignissimos dolores facilis nihil nobis nostrum numquam optio saepe veritatis voluptatem.
                                    +button-with-balls('подробнее',null,'button-with-balls__ball_red','button-with-balls__ball_grey','button-with-balls__ball_orange')
                            +e.slide.col-12.col-sm-6.col-lg-4
                                +e.image(src=require("./../images/preloader.jpg"), alt="people")
                                +e.envelope.pt-20
                                    +e.title Lorem ipsum dolor si LOREM
                                    +e.description.pt-05.pb-10 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur distinctio dolore ea incidunt inventore quam, quidem voluptas. Aut dignissimos dolores facilis nihil nobis nostrum numquam optio saepe veritatis voluptatem.
                                    +button-with-balls('подробнее',null,'button-with-balls__ball_red','button-with-balls__ball_grey','button-with-balls__ball_orange')
                            +e.slide.col-12.col-sm-6.col-lg-4
                                +e.image(src=require("./../images/preloader.jpg"), alt="people")
                                +e.envelope.pt-20
                                    +e.title Lorem ipsum dolor si LOREM
                                    +e.description.pt-05.pb-10 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur distinctio dolore ea incidunt inventore quam, quidem voluptas. Aut dignissimos dolores facilis nihil nobis nostrum numquam optio saepe veritatis voluptatem.
                                    +button-with-balls('подробнее',null,'button-with-balls__ball_red','button-with-balls__ball_grey','button-with-balls__ball_orange')
                            +e.slide.col-12.col-sm-6.col-lg-4
                                +e.image(src=require("./../images/preloader.jpg"), alt="people")
                                +e.envelope.pt-20
                                    +e.title Lorem ipsum dolor si LOREM
                                    +e.description.pt-05.pb-10 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur distinctio dolore ea incidunt inventore quam, quidem voluptas. Aut dignissimos dolores facilis nihil nobis nostrum numquam optio saepe veritatis voluptatem.
                                    +button-with-balls('подробнее',null,'button-with-balls__ball_red','button-with-balls__ball_grey','button-with-balls__ball_orange')
                            +e.slide.col-12.col-sm-6.col-lg-4
                                +e.image(src=require("./../images/preloader.jpg"), alt="people")
                                +e.envelope.pt-20
                                    +e.title Lorem ipsum dolor si LOREM
                                    +e.description.pt-05.pb-10 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur distinctio dolore ea incidunt inventore quam, quidem voluptas. Aut dignissimos dolores facilis nihil nobis nostrum numquam optio saepe veritatis voluptatem.
                                    +button-with-balls('подробнее',null,'button-with-balls__ball_red','button-with-balls__ball_grey','button-with-balls__ball_orange')






